In [48]:
# https://www.kaggle.com/c/titanic/overview
import numpy as np
import pandas as pd
train_data = pd.read_csv("./data/train.csv")
test_data = pd.read_csv("./data/test.csv")
print(train_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [49]:
# Pclass       社会阶层
# SibSp        船上兄弟个数
# Parch        家庭成员个数
# ticket 船票的ID
# fare 船票价格
# cabin 船舱ID
# embarked 登录地
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [50]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [51]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [52]:
# 性别处理 男1女0
sex_class_list = []
sex_class_list2 = []

for idx, row in train_data.iterrows():
    if row['Sex'] == 'male':
        sex_class_list.append(1)
    elif row['Sex'] == 'female':
        sex_class_list.append(0)
    else:
        sex_class_list.append(-1)
train_data['sex_class'] = sex_class_list

for idx, row in test_data.iterrows():
    if row['Sex'] == 'male':
        sex_class_list2.append(1)
    elif row['Sex'] == 'female':
        sex_class_list2.append(0)
    else:
        sex_class_list2.append(-1)
test_data['sex_class'] = sex_class_list2

train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,sex_class
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.647587
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,0.477990
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,0.000000
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1.000000
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,1.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000

In [53]:
# embarked 处理
print(set(train_data['Embarked'].values))

embarked_class_list = []
embarked_class_list2 = []

for idx, row in train_data.iterrows():
    if row['Embarked'] == 'S':
        embarked_class_list.append(1)
    elif row['Embarked'] == 'Q':
        embarked_class_list.append(2)
    elif row['Embarked'] == 'C':
        embarked_class_list.append(3)
    else:
        embarked_class_list.append(0)
train_data['embarked_class'] = embarked_class_list

for idx, row in test_data.iterrows():
    if row['Embarked'] == 'S':
        embarked_class_list2.append(1)
    elif row['Embarked'] == 'Q':
        embarked_class_list2.append(2)
    elif row['Embarked'] == 'C':
        embarked_class_list2.append(3)
    else:
        embarked_class_list2.append(0)
test_data['embarked_class'] = embarked_class_list2

print(train_data.head())
print(train_data.describe())

{'S', nan, 'Q', 'C'}
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  sex_class  embarked_class
0      0         A/5 21171   7.2500   NaN        S          1               1
1      0          PC 17599  71.2833   C85        C          0               3
2      0  STON/O2. 3101282   7.9250   NaN        S          0               1
3      0            113803  53.1000  C123        S          0               1
4      0            373450   8.0500   NaN        S          1               1
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare   sex_class  embarked_class
count  891.000000  891.000000  891.000000      891.000000
mean     0.381594   32.204208    0.647587        1.461279
std      0.806057   49.693429    0.477990        0.794231
min      0.000000    0.000000    0.000000        0.000000
25%      0.000000    7.910400    0.000000        1.000000
50%      0.000000   14.454200    1.000000        1.000000
75%      0.000000   31.000000    1.000000        2.000000
max      6.000000  512.329200    1.000000        3.000000

In [54]:
# Age 处理
print(set(train_data['Cabin'].values))

age_class_list = []
age_class_list2 = []

for idx, row in train_data.iterrows():
    if row['Age'] <= 1:
        age_class_list.append(1)
    elif row['Age'] <= 3:
        age_class_list.append(2)
    elif row['Age'] <= 5:
        age_class_list.append(3)
    elif row['Age'] <= 10:
        age_class_list.append(4)
    elif row['Age'] <= 20:
        age_class_list.append(5)
    elif row['Age'] <= 30:
        age_class_list.append(6)
    elif row['Age'] <= 40:
        age_class_list.append(7)
    elif row['Age'] <= 50:
        age_class_list.append(8)
    elif row['Age'] <= 60:
        age_class_list.append(9)
    elif row['Age'] <= 70:
        age_class_list.append(10)
    elif row['Age'] <= 80:
        age_class_list.append(11)
    else:
        age_class_list.append(12)
train_data['age_class'] = age_class_list

for idx, row in test_data.iterrows():
    if row['Age'] <= 1:
        age_class_list2.append(1)
    elif row['Age'] <= 3:
        age_class_list2.append(2)
    elif row['Age'] <= 5:
        age_class_list2.append(3)
    elif row['Age'] <= 10:
        age_class_list2.append(4)
    elif row['Age'] <= 20:
        age_class_list2.append(5)
    elif row['Age'] <= 30:
        age_class_list2.append(6)
    elif row['Age'] <= 40:
        age_class_list2.append(7)
    elif row['Age'] <= 50:
        age_class_list2.append(8)
    elif row['Age'] <= 60:
        age_class_list2.append(9)
    elif row['Age'] <= 70:
        age_class_list2.append(10)
    elif row['Age'] <= 80:
        age_class_list2.append(11)
    else:
        age_class_list2.append(12)
test_data['age_class'] = age_class_list2

print(train_data.head())
print(train_data.describe())

{nan, 'D35', 'B38', 'B58 B60', 'E58', 'A7', 'A5', 'A36', 'C54', 'C47', 'C148', 'B96 B98', 'B3', 'C52', 'D36', 'D48', 'D47', 'A19', 'C49', 'C110', 'C22 C26', 'E50', 'B51 B53 B55', 'E67', 'C111', 'C99', 'E8', 'C125', 'F G63', 'B69', 'A32', 'B41', 'D37', 'A14', 'C45', 'E36', 'D45', 'E68', 'G6', 'A6', 'B39', 'A10', 'B49', 'E49', 'C86', 'B19', 'C65', 'D6', 'C126', 'C90', 'B78', 'A20', 'C83', 'D10 D12', 'B94', 'C91', 'C30', 'D20', 'C101', 'B77', 'A26', 'C23 C25 C27', 'B82 B84', 'D21', 'B86', 'E10', 'D50', 'C87', 'F4', 'B101', 'F G73', 'A16', 'F E69', 'E34', 'D30', 'A34', 'F2', 'A24', 'B50', 'E33', 'C7', 'T', 'B57 B59 B63 B66', 'E38', 'C118', 'C93', 'C70', 'D28', 'C124', 'D', 'D11', 'D17', 'B42', 'B80', 'E101', 'E44', 'C62 C64', 'C68', 'D26', 'E31', 'C123', 'C95', 'C92', 'C50', 'E77', 'C106', 'E24', 'B5', 'E121', 'C104', 'B71', 'C2', 'E12', 'B79', 'B4', 'B37', 'D56', 'C78', 'B73', 'B28', 'D19', 'C46', 'E25', 'D33', 'D7', 'B35', 'F33', 'B30', 'E17', 'A23', 'C128', 'D15', 'D46', 'C82', 'B22', 'E63', 'E46', 'D9', 'C32', 'B20', 'C103', 'B102', 'D49', 'F38', 'E40', 'A31', 'B18', 'C85'}
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  sex_class  embarked_class  \
0      0         A/5 21171   7.2500   NaN        S          1               1
1      0          PC 17599  71.2833   C85        C          0               3
2      0  STON/O2. 3101282   7.9250   NaN        S          0               1
3      0            113803  53.1000  C123        S          0               1
4      0            373450   8.0500   NaN        S          1               1

   age_class
0          6
1          7
2          6
3          7
4          7
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare   sex_class  embarked_class   age_class
count  891.000000  891.000000  891.000000      891.000000  891.000000
mean     0.381594   32.204208    0.647587        1.461279    7.433221
std      0.806057   49.693429    0.477990        0.794231    2.752481
min      0.000000    0.000000    0.000000        0.000000    1.000000
25%      0.000000    7.910400    0.000000        1.000000    6.000000
50%      0.000000   14.454200    1.000000        1.000000    7.000000
75%      0.000000   31.000000    1.000000        2.000000    9.000000
max      6.000000  512.329200    1.000000        3.000000   12.000000

In [55]:
# fare 处理
fare_class_list = []
fare_class_list2 = []

for idx, row in train_data.iterrows():
    if row['Fare'] <= 0:
        fare_class_list.append(0)
    elif row['Fare'] <= 10:
        fare_class_list.append(1)
    elif row['Fare'] <= 20:
        fare_class_list.append(2)
    elif row['Fare'] <= 30:
        fare_class_list.append(3)
    elif row['Fare'] <= 40:
        fare_class_list.append(4)
    elif row['Fare'] <= 50:
        fare_class_list.append(5)
    elif row['Fare'] <= 60:
        fare_class_list.append(6)
    elif row['Fare'] <= 70:
        fare_class_list.append(7)
    elif row['Fare'] <= 80:
        fare_class_list.append(8)
    elif row['Fare'] <= 90:
        fare_class_list.append(9)
    elif row['Fare'] <= 100:
        fare_class_list.append(10)
    else:
        fare_class_list.append(11)
train_data['fare_class'] = fare_class_list

for idx, row in test_data.iterrows():
    if row['Fare'] <= 0:
        fare_class_list2.append(0)
    elif row['Fare'] <= 10:
        fare_class_list2.append(1)
    elif row['Fare'] <= 20:
        fare_class_list2.append(2)
    elif row['Fare'] <= 30:
        fare_class_list2.append(3)
    elif row['Fare'] <= 40:
        fare_class_list2.append(4)
    elif row['Fare'] <= 50:
        fare_class_list2.append(5)
    elif row['Fare'] <= 60:
        fare_class_list2.append(6)
    elif row['Fare'] <= 70:
        fare_class_list2.append(7)
    elif row['Fare'] <= 80:
        fare_class_list2.append(8)
    elif row['Fare'] <= 90:
        fare_class_list2.append(9)
    elif row['Fare'] <= 100:
        fare_class_list2.append(10)
    else:
        fare_class_list2.append(11)
test_data['fare_class'] = fare_class_list2

print(train_data.head())
print(train_data.describe())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  sex_class  embarked_class  \
0      0         A/5 21171   7.2500   NaN        S          1               1
1      0          PC 17599  71.2833   C85        C          0               3
2      0  STON/O2. 3101282   7.9250   NaN        S          0               1
3      0            113803  53.1000  C123        S          0               1
4      0            373450   8.0500   NaN        S          1               1

   age_class  fare_class
0          6           1
1          7           8
2          6           1
3          7           6
4          7           1
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare   sex_class  embarked_class   age_class  \
count  891.000000  891.000000  891.000000      891.000000  891.000000
mean     0.381594   32.204208    0.647587        1.461279    7.433221
std      0.806057   49.693429    0.477990        0.794231    2.752481
min      0.000000    0.000000    0.000000        0.000000    1.000000
25%      0.000000    7.910400    0.000000        1.000000    6.000000
50%      0.000000   14.454200    1.000000        1.000000    7.000000
75%      0.000000   31.000000    1.000000        2.000000    9.000000
max      6.000000  512.329200    1.000000        3.000000   12.000000

       fare_class
count  891.000000
mean     3.129068
std      2.862810
min      0.000000
25%      1.000000
50%      2.000000
75%      4.000000
max     11.000000

In [57]:
# LR模型

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

feature_names = [
    'Pclass',
    'SibSp',
    'Parch',
    'sex_class',
    'embarked_class',
    'age_class',
    'fare_class'
]

X_train = train_data[feature_names]
y_train = train_data['Survived']
lr = LogisticRegression()
lr.fit(X_train, y_train)
print(lr.score(X_train, y_train))

0.8024691358024691
[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1 0 1 0 0 0 0 0 1 0 1 0 0
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 1
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 1 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 1 1 1 1 1 1 0 1 0 0 0]

In [63]:
# 输出预测结果
X_test = test_data[feature_names]
rst = lr.predict(X_test)
print(rst)
test_data['Survived'] = rst
# output = test_data['PassengerId', 'Survived']
# output.to_csv("./submission.csv")
test_data.to_csv("./submission.csv", index=False, columns=['PassengerId', 'Survived'])

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1 0 1 0 0 0 0 0 1 0 1 0 0
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 1
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 1 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 1 1 1 1 1 1 0 1 0 0 0]